{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации новых предложений. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
        <button class="btn btn-warning">Текст</button>
    </div>
{% endblock %}